<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Confirmation</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 0; margin: 0; min-height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div style="max-width: 750px; width: 100%; background: white; padding: 36px 32px; border-radius: 10px; box-shadow: 0px 0px 16px rgba(0,0,0,0.12); margin: 24px;">
       <div style="max-width: 600px; background: white; padding: 20px; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); margin: 24px auto;">
        <h2 style="color: #007bff;">Thank you for your donation, {{ user.first_name }}!</h2>
        <p style="font-size: 16px; color: #333;">Your payment of <strong>GHS {{ amount }}</strong> was successful.</p>
        <!--<p style="font-size: 16px; color: #333;"><strong>Order ID:</strong> {{ order.id }}</p> -->
        <p style="font-size: 16px; color: #333;">You just made a contribution to save a life.</p>
        <hr style="border: none; height: 1px; background: #ddd; margin: 20px 0;">
           <p style="font-size: 14px; color: #666;">With appreciation, <br></p>
           <p><strong>The CauseHive Team</strong></p>
        </div>
    </div>
</body>
</html>
